In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
drinks =pd.read_csv('./data/drinks.csv')
drinks['continent'] = drinks['continent'].fillna('OT')
drinks.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,OT
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

## 대률별 평균 wine_servings을 탐색하시오

In [66]:
drinks.groupby('continent')['wine_servings'].mean()
# to_freame()
#reset_index()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
OT     24.521739
SA     62.416667
Name: wine_servings, dtype: float64

## 국가별 모든 servings의 합을 계산하여 total_servings라는 피처를 생성하시오

In [63]:
drinks['total_servings'] = drinks['beer_servings']+drinks['wine_servings']+drinks['spirit_servings']
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_serings,alcohol_rate,total_servings
0,Afghanistan,0,0,0,0.0,AS,0,0.000000,0
1,Albania,89,132,54,4.9,EU,275,0.017818,275
2,Algeria,25,0,14,0.7,AF,39,0.017949,39
3,Andorra,245,138,312,12.4,EU,695,0.017842,695
4,Angola,217,57,45,5.9,AF,319,0.018495,319

## 전체 평균보다 적은 알코올을 마시는 대륙 중, spirit을 가장 많이 마시는 국가를 찾으시오

In [34]:
total_mean = drinks['total_litres_of_pure_alcohol'].mean()
#print(f'total_mean ={total_mean:4f}')
continent_mean =drinks.groupby('continent').total_litres_of_pure_alcohol.mean()
#print(continent_mean)
continent_under_mean = continent_mean[continent_mean<total_mean].index.to_list()
df_continent_under_mean = drinks[drinks['continent'].isin(continent_under_mean)]
df_continent_under_mean['spirit_servings'].idxmax() 
drinks['country'][df_continent_under_mean['spirit_servings'].idxmax() 
]

'Russian Federation'

## 술 소비량 대비 알코올 비율을 구하고, 전체 순위 중 한국 순위를 구하시오

In [43]:
drinks['alcohol_rate'] = drinks.total_litres_of_pure_alcohol/drinks.total_serings #divided by zero
drinks.head()
drinks['alcohol_rate'] =drinks['alcohol_rate'].fillna(0)
#drinks.head()
country_with_rank = drinks[['country', 'alcohol_rate']].sort_values(by='alcohol_rate',ascending=False)
country_list =country_with_rank.country.tolist()
korea_rank = country_list.index('South Korea')+1
print(f'{korea_rank}위')

15위

## 대륙별 술 소비량 대비 알코올 비율을 구하시오

In [65]:
continent_sum = drinks.groupby('continent').sum()
continent_sum['continent_alcohol_rate'] = continent_sum['total_litres_of_pure_alcohol']/continent_sum['total_servings']
continent_sum['continent_alcohol_rate']
#df_continent_sum =continent_sum['total_litres_of_pure_alcohol','total_servings']
#df_continent_sum['continent_alcohol_rate'] = df_continent_sum['total_litres_of_pure_alcohol']/df_continent_sum['total_serings]']

continent
AF    0.031970
AS    0.020293
EU    0.018392
OC    0.018401
OT    0.017860
SA    0.017909
Name: continent_alcohol_rate, dtype: float64